* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 384px;
  height: 1995px;
  margin: 15px auto;
}

header {
  width: 384px;
  height: 272px;
  background: #8e9aaf;
}
header img {
  padding: 32px;
  margin: auto;
  display: block;
}

header span {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #cbc0d3;
  padding: 4px;

  font-family: "Staatliches", cursive;
  font-size: 40px;
  line-height: 34px;
}

P {
  font-family: "Palanquin", sans-serif;
  margin: auto;
}
main {
  display: grid;
  gap: 23px;
}

.card {
  position: relative;
  display: flex;
}

.card img {
  margin: auto;
  animation: downtop 700ms;
}

.card span {
  text-transform: uppercase;
  color: #4a4e69;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  border: 1px solid #4a4e69;
  border-radius: 20px;
  width: fit-content;
  padding: 1px 23px;
  background: #feeafa;
  margin: 17px 39px 199px 216px;
  position: absolute;
animation:topdown 700ms;
}



@keyframes topdown{/*(qualquer nome) começa de  cima para baixo*/ 
  0% { /*propriedades de início*/
    opacity: 0;
    transform: translateY(-15px); /*mexer eixo vertical -15px vai mover para cima */
  }
  50% {
    opacity: 1;
  }

  100% {
    /*final terminar*/
    opacity: 1;
    transform: translateY(0); /*volta a posição inicial*/
  } 
}

@keyframes downtop {/*começa de baixo para cima*/
    0% {
      opacity: 0;
      transform: translateY(15px);
/*empurra a caixa 15px para baixo e desaparece e termina a animação volta ao normal*/
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }